<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% include "head.html.twig" %}
    </head>
    <body>

    {% include "header.html.twig" %}

    {% include "sidebar.html.twig" %}

    <div class="content-wrapper"> 
        {% block body %}{% endblock %}
    </div>
      
    <script src="/base.js"></script>

    </body>
</html>
