<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% include "head.html.twig" %}
    </head>
    <body>

    {% include "header.html.twig" %}

    {% include "sidebar.html.twig" %}

    <div class="content-wrapper"> 
        {% block body %}{% endblock %}
    </div>
      
    <script> 
        {# popover jquery #}
        $(document).ready(function(){
            $('[data-toggle="popover"]').popover();   
        });

        $('.popover-dismiss').popover({
            trigger: 'focus'
        })

        {# select2 jquery #}
        $(document).ready(function() {
            $('.js-example-basic-multiple').select2();
        });

        $(document).ready(function(){
            $("#toggle-btn").click(function(){
                $("#toggle-example").collapse('toggle'); // toggle collapse
            });
        });
        
    </script>

    </body>
</html>
