<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="/style.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/ba400c5ead.js" crossorigin="anonymous"></script>
    </head>
    <body>

    {% include "header.html.twig" %}

    {% include "sidebar.html.twig" %}

    <div class="content-wrapper"> 
        {% block body %}{% endblock %}
    </div>
      
        
    </body>
</html>
