<div class="header">
	<p>
		Our Library
		<br/>
		<div style="font-size: medium; font-family: Times New Roman; font-weight: normal;">
			by NGUYEN Minh Kha

			<a href="https://www.linkedin.com/in/minh-kha-nguyen/">
				<i class="fa-brands fa-linkedin"></i>
			</a>


			<a href="https://github.com/Nguyen-Minh-Kha">
				<i class="fa-brands fa-github"></i>
			</a>

		</div>
	</p>
</div>
