{% extends 'base.html.twig' %}

{% block title %}Books listing{% endblock %}

{% block body %}
        <h1> Books listing </h1>
        <div> {% block listing %} {% endblock %} </div>
{% endblock %}

