<div class="area">  </div><nav class="main-menu">
            <ul>
                <li class="has-subnav"> 
                    <a href="{{ path('app_AdminBookController_list') }}">
                        <i class="fa-solid fa-book fa-2x"></i>
                        <span class="nav-text">
                            Our Library
                        </span>
                    </a>
                </li>

                <li class="has-subnav"> 
                    <a href="{{ path('app_AdminBookController_create') }}">
                        <i class="fa-solid fa-circle-plus fa-2x"></i>
                        <span class="nav-text">
                            Add new book
                        </span>
                    </a>
                </li>

                <li class="has-subnav"> 
                    <a href="{{ path('app_AdminUserController_create') }}">
                        <i class="fa-solid fa-circle-plus fa-2x"></i>
                        <span class="nav-text">
                            Add new user
                        </span>
                    </a>
                </li>

                
            </ul>

            {# <ul class="logout">
                <li>
                   <a href="#">
                         <i class="fa fa-power-off fa-2x"></i>
                        <span class="nav-text">
                            Logout
                        </span>
                    </a>
                </li>  
            </ul> #}
        </nav>