<li tabindex="0" class="has-subnav" title="Visit our catalog" data-toggle="popover" data-placement="right" data-trigger="focus" data-html="true" data-content='

<li class="has-subnav">
	<a href="">
		<i class="fa-solid fa-book fa-2x"></i>
		<span class="nav-text">
			Books
		</span>
	</a>
</li>
<li class="has-subnav">
	<a href="">
		<i class="fa-solid fa-scroll fa-2x"></i>
		<span class="nav-text">
			Genres
		</span>
	</a>
</li>
<li class="has-subnav">
	<a href="">
		<i class="fa-solid fa-feather fa-2x"></i>
		<span class="nav-text">
			Authors
		</span>
	</a>
</li>
<li class="has-subnav">
	<a href="">
		<i class="fa-solid fa-house fa-2x"></i>
		<span class="nav-text">
			Publishing Houses
		</span>
	</a>
</li>

		'>
	<a>
		<i class="fa-solid fa-list fa-2x"></i>
		<span class="nav-text">
			Catalog
		</span>
	</a>
</li>

